{% extends '_email.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
</body>
    <h1>New episode {{ episode.title }} created</h1>
    <p>Hello, the new program {{ episode.title }} has been created on Wild Series</p>
    <p>Synopsis : {{episode.synopsis }}
</body>
{% endblock %}